.main {
  width: 100%;
  height: 100vh;
  background-color: aqua;
  display: flex;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.left {
  width: 30%;
  height: 100%;
  background-color: #f8f9fa;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  text-align: center;
  padding-inline: 10px;
}
.image {
  width: 150px;
  height: 150px;
  background-color: bisque;
  border-radius: 50%;
box-shadow: 0 0 24px rgba(0, 0, 0, 0.21);
  >img{
    width: 100%;
    height: 100%;
      border-radius: 50%;
  }
}
h1 {
  margin-top: 10px;
}
h2 {
  margin-block: 8px;
}
.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-block: 20px;
  :nth-of-type(1){
    background-color: #E5EDFA;
    color:rgb(37, 159, 236);
  }
  > li {
    padding: 10px 15px;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover{
         background-color: #E5EDFA;
    color:rgb(37, 159, 236);
    }
     
  }
}


/* right part  */
.right{
    width: inherit;
    height: 100%;
    background-image: url(../img/image2.jpeg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.text{
  color: #E5EDFA;
    position: absolute;
    top: 50%;
    left: 50%;
    /* border: 1px solid wheat; */
    transform: translate(-50%, -50%);
    text-align: center;
    h1{
        font-weight: bold;
        font-size: 50px;
    }
    p{
        font-size: 30px;
        color: rgb(127, 240, 155);
        margin-top: 10px;
        font-weight: bold;
       text-shadow:0 0 24px rgb(0, 0, 0);
    }
}
